---
import Navbar from "../components/global/navbar/Navbar.astro"
import Principal from "../components/principal/index.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <main>
    <Navbar />
    <Principal />
  </main>
</Layout>
