---
import Navbar from "../components/global/navbar/Navbar.astro";
import Principal from "../components/principal/index.astro";
import Layout from "../layouts/Layout.astro";
import UbicacionParticipantes from "../components/ubicacionParticipantes/index.astro";
import Beneficios from "../components/beneficios/index.astro";
---

<Layout>
  <main>
    <Navbar />
    <Principal />
    <UbicacionParticipantes />
    <Beneficios />
  </main>
</Layout>
