<section class="bg-white dark:bg-gray-900 h-6/6">
  <div class="flex justify-around">
    <div class="flex flex-col p-4">
      <div>
        <h1
          class="py-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
        >
          Titulo
        </h1>
      </div>
      <div>
        <h4 class="text-white text-xl py-4">Subtítulo</h4>
      </div>
      <div class="text-justify py-4">
        <span class="text-xl text-gray-500 dark:text-gray-600"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          recusandae deleniti officiis voluptate non? Explicabo sapiente
          dignissimos asperiores dolore quibusdam dolores placeat ut ex ipsum?
          Voluptas quam dolorem minus perferendis.</span
        >
      </div>
    </div>
    <div class="mb-10 rounded-lg p-4">
      <iframe
        class="rounded-lg w-6/6 h-6/6"
        width="600"
        height="400"
        src="https://www.youtube.com/embed/oTxFSxn18ys"
        title="Nuestro Sitio - Devs Latam"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="flex flex-row justify-around text-white">
    <div class="w-full p-4">
      <div
        class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <dl
          class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8"
        >
          <div class="flex flex-col text-center">
            <dt class="mb-2 text-3xl font-extrabold">720</dt>
            <dd class="text-gray-500 dark:text-gray-400">Participantes</dd>
          </div>
          <div class="flex flex-col text-center">
            <dt class="mb-2 text-3xl font-extrabold">13</dt>
            <dd class="text-gray-500 dark:text-gray-400">Proyectos</dd>
          </div>
          <div class="flex flex-col text-center">
            <dt class="mb-2 text-3xl font-extrabold">0</dt>
            <dd class="text-gray-500 dark:text-gray-400">Contratados</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-around text-white">
    <button
      class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Preinscribirme
      </span>
    </button>
    <button
      class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Unirme a Discord
      </span>
    </button>
  </div>
</section>
